{% set title = "Поиск" %}
{% set page = "searchpage" %}
{% extends "layouts/main.njk" %}

{% block content %}

    <main class="page__content content">
        <div class="content__container">
            {% include "blocks/breadcrumbs.njk" %}

            <h1 class="content__title title-l1">ТЕЛЕВИЗОРЫ</h1>
            <div class="content__category category">
                <ul class="category__filter filter">
                    <li class="filter__item">
                        <div class="filter__item-name">Бренд</div>
                        <ul class="filter__filter-values">
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                    <span class="checkbox__square-wrap">
                                                        <input type="checkbox" class="checkbox__input">
                                                        <span class="checkbox__square"></span>
                                                    </span>
                                        <span class="checkbox__text">Adidas</span>
                                    </label>
                                </li>
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                    <span class="checkbox__square-wrap">
                                                        <input type="checkbox" class="checkbox__input">
                                                        <span class="checkbox__square"></span>
                                                    </span>
                                        <span class="checkbox__text">Nike</span>
                                    </label>
                                </li>
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                    <span class="checkbox__square-wrap">
                                                        <input type="checkbox" class="checkbox__input">
                                                        <span class="checkbox__square"></span>
                                                    </span>
                                        <span class="checkbox__text">UnderArmour</span>
                                    </label>
                                </li>
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                    <span class="checkbox__square-wrap">
                                                        <input type="checkbox" class="checkbox__input">
                                                        <span class="checkbox__square"></span>
                                                    </span>
                                        <span class="checkbox__text">VeryLongNameForBrand</span>
                                    </label>
                                </li>
                            </ul>
                    </li>
                    <li class="filter__item">
                        <div class="filter__item-name">Размер</div>
                        <ul class="filter__filter-values">
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                        <span class="checkbox__square-wrap">
                                                            <input type="checkbox" class="checkbox__input">
                                                            <span class="checkbox__square"></span>
                                                        </span>
                                        <span class="checkbox__text">40 (US 8,5)</span>
                                    </label>
                                </li>
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                        <span class="checkbox__square-wrap">
                                                            <input type="checkbox" class="checkbox__input">
                                                            <span class="checkbox__square"></span>
                                                        </span>
                                        <span class="checkbox__text">41 (US 9)</span>
                                    </label>
                                </li>
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                        <span class="checkbox__square-wrap">
                                                            <input type="checkbox" class="checkbox__input">
                                                            <span class="checkbox__square"></span>
                                                        </span>
                                        <span class="checkbox__text">42 (US 9,5)</span>
                                    </label>
                                </li>
                                <li class="filter__filter-values-item">
                                    <label class="filter__filter-checkbox checkbox">
                                                        <span class="checkbox__square-wrap">
                                                            <input type="checkbox" class="checkbox__input">
                                                            <span class="checkbox__square"></span>
                                                        </span>
                                        <span class="checkbox__text">43 (US 10)</span>
                                    </label>
                                </li>
                            </ul>
                    </li>
                </ul>
                <div class="category__block">
                    <div class="category__block-top">
                        <div class="category__total">Найдено 38 товаров</div>
                        <div class="category__sort">
                            <span class="category__sort-text">Сортировать по:</span>
                            <div class="category__sort-select select select--without-borders js_select" aria-label="Сортировка">
                                <input type="hidden" class="js_select_input" name="sort" value="ask" autocomplete="off">
                                <div class="select__header js_select_btn">
                                    <div class="select__current js_current_value">возрастанию цены</div>
                                    <div class="select__arrow"></div>
                                </div>
                                <ul class="select__list" role="listbox" aria-expanded="false">
                                    <li class="select__list-item js_select_option" role="option" data-value="desk" data-text="убыванию цены">убыванию цены</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="category__products-box products-box">
                        <ul class="products-box__list grid">
                            {% for i in range(1, 10) %}
                            <li class="grid__item product">
                                <a href="#" class="product__link">
                                    <p class="product__name">PHILIPS 40PFT4100/60</p>
                                    <div class="product__img-wrap">
                                        <img src="/dev_images/product_placeholder.jpg" alt="" class="product__img">
                                    </div>
                                    <div class="product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет
                                        идеальным инструментом для работы в офисе или в пути. Он легкий и компактный,
                                        а высокоемкая батарея Li-ion...
                                    </div>
                                    <div class="product__price">85&nbsp;900 тенге</div>
                                    <div class="product__btn-wrap">
                                        <button class="product__btn button button--s-small button--t-green {% if i==5 %}in-order{% endif %}" type="button">
                                            <span class="button__text button__text--not-order">В КОРЗИНУ</span>
                                            <span class="button__text button__text--in-order">В КОРЗИНЕ</span>
                                        </button>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="products-box__pagination pagination">
                            <span class="pagination__link pagination__link--left-arrow"></span>
                            <a href="#" class="pagination__link">1</a>
                            <a href="#" class="pagination__link">2</a>
                            <a href="#" class="pagination__link">3</a>
                            <a href="#" class="pagination__link">...</a>
                            <a href="#" class="pagination__link">12</a>
                            <a href="#" class="pagination__link pagination__link--right-arrow"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
