{% set title = "Поиск" %}
{% set page = "searchpage" %}
{% extends "layouts/main.njk" %}

{% block content %}

    <main class="page__content content">
        <div class="content__container">
            {% include "blocks/breadcrumbs.njk" %}

            <h1 class="content__title title-l1">ОФОРМЛЕНИЕ ЗАКАЗА</h1>
            <form class="content__checkout checkout js_checkout js_form js_checkout_form" method="" action="" novalidate>
                <div class="checkout__form-cols">
                    <div class="checkout__form-col">
                        <div class="checkout__form-col-name">ИНФОРМАЦИЯ КЛИЕНТА</div>
                        <div class="checkout__form form">
                            <div class="form__2-cols">
                                <div class="form__col field">
                                    <label class="field__container">
                                        <input type="text" class="field__input js_form_input" required placeholder="Имя *" autocomplete="name">
                                    </label>
                                </div>
                                <div class="form__col field">
                                    <label class="field__container">
                                        <input type="email" class="field__input js_form_input" required placeholder="E-mail *" inputmode="email" autocomplete="email">
                                    </label>
                                </div>
                            </div>
                            <div class="form__2-cols">
                                <div class="form__col field">
                                    <label class="field__container">
                                        <input type="text" class="field__input js_form_input" required placeholder="Телефон *" inputmode="tel" autocomplete="tel">
                                    </label>
                                </div>
                                <div class="form__col field">
                                    <label class="field__container">
                                        <input type="text" class="field__input js_form_input" required placeholder="Город *" autocomplete="address-level2">
                                    </label>
                                </div>
                            </div>
                            <div class="form__field field">
                                <label class="field__container">
                                    <textarea class="field__input field__input--textarea js_form_input" placeholder="Комментарий к заказу"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__form-col">
                        <div class="checkout__form-col-name">СПОСОБЫ ДОСТАВКИ</div>
                        <div class="checkout__form form">
                            <div class="form__radiogroup radiogroup">
                                <label class="radiogroup__item radiobutton">
                                    <span class="radiobutton__circle-wrap">
                                        <input type="radio" value="Самовывоз" name="way-radio" class="radiobutton__input js_delivery_variant" checked>
                                        <span class="radiobutton__circle"></span>
                                    </span>
                                    <span class="radiobutton__text">Самовывоз</span>
                                </label>
                                <label class="radiogroup__item radiobutton">
                                    <span class="radiobutton__circle-wrap">
                                        <input type="radio" value="Доставка" name="way-radio" class="radiobutton__input js_delivery_variant">
                                        <span class="radiobutton__circle"></span>
                                    </span>
                                    <span class="radiobutton__text">Доставка</span>
                                </label>
                            </div>
                            <div class="form__field field hidden js_delivery_addr_wrap">
                                <label class="field__container">
                                    <textarea class="field__input field__input--textarea js_delivery_addr js_form_input" required disabled placeholder="Адрес *" autocomplete="street-address"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="checkout__products-list">
                    <li class="checkout__products-item purchased-product js_purchased_product">
                        <div class="purchased-product__info">
                            <div class="purchased-product__img-wrap">
                                <img src="/dev_images/placeholder_middle.jpg" alt="" class="purchased-product__img">
                            </div>
                            <div class="purchased-product__block">
                                <div class="purchased-product__text">
                                    <p class="purchased-product__name">PHILIPS 40PFT4100/60</p>
                                    <p class="purchased-product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет идеальным инструментом для работы в офисе или в пути. Он легкий и компактный, а высокоемкая батарея Li-ion...</p>
                                </div>
                                <div class="purchased-product__price">85&nbsp;900 тенге</div>
                            </div>
                        </div>
                        <div class="purchased-product__cancel-wrap">
                            <button class="purchased-product__cancel js_del_purchased_product" type="button"></button>
                        </div>
                    </li>
                    <li class="checkout__products-item purchased-product js_purchased_product">
                        <div class="purchased-product__info">
                            <div class="purchased-product__img-wrap">
                                <img src="/dev_images/placeholder_middle.jpg" alt="" class="purchased-product__img">
                            </div>
                            <div class="purchased-product__block">
                                <div class="purchased-product__text">
                                    <p class="purchased-product__name">PHILIPS 40PFT4100/60</p>
                                    <p class="purchased-product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет идеальным инструментом для работы в офисе или в пути. Он легкий и компактный, а высокоемкая батарея Li-ion...</p>
                                </div>
                                <div class="purchased-product__price">85&nbsp;900 тенге</div>
                            </div>
                        </div>
                        <div class="purchased-product__cancel-wrap">
                            <button class="purchased-product__cancel js_del_purchased_product" type="button"></button>
                        </div>
                    </li>
                </ul>
                <div class="checkout__btn-wrap">
                    <button class="checkout__btn button button--t-green js_send_form_btn">отправить заявку</button>
                </div>
            </form>
            <div class="content__checkout checkout checkout--empty">
                <div class="checkout__empty-text">Корзина пуста</div>
            </div>
        </div>
    </main>

{% endblock %}
