{% set title = "Главная" %}
{% set page = "mainpage" %}
{% extends "layouts/main.njk" %}

{% block content %}
    <main class="page__content content">
        <div class="content__title-slider slider">
            <div class="slider__images-wrap js_banners_slider">
                <picture class="slider__img-wrap">
                    <source srcset="/dev_images/slide_mob.jpg" media="(max-width: 860px)">
                    <source srcset="/dev_images/slide.jpg" media="(min-width: 861px)">
                    <img src="/dev_images/slide.jpg" alt="" class="slider__img">
                </picture>
                <picture class="slider__img-wrap">
                    <source srcset="/dev_images/slide_mob.jpg" media="(max-width: 860px)">
                    <source srcset="/dev_images/slide.jpg" media="(min-width: 861px)">
                    <img src="/dev_images/slide.jpg" alt="" class="slider__img">
                </picture>
                <picture class="slider__img-wrap">
                    <source srcset="/dev_images/slide_mob.jpg" media="(max-width: 860px)">
                    <source srcset="/dev_images/slide.jpg" media="(min-width: 861px)">
                    <img src="/dev_images/slide.jpg" alt="" class="slider__img">
                </picture>
            </div>
            <div class="slider__navigation-wrap">
                <div class="slider__navigation">
                    <button class="slider__nav-btn slider__nav-btn--left js_slider_prev"><</button>
                    <button class="slider__nav-btn slider__nav-btn--right js_slider_next">></button>
                </div>
            </div>
        </div>
        <div class="content__last-products">
            <div class="content__container last-products">
                <div class="last-products__title-wrap">
                    <h1 class="last-products__title title-with-borders">Интернет-магазин цифрового оборудования и&nbsp;компьютерной техники</h1>
                </div>
                <ul class="last-products__list">
                    <li class="last-products__item product product--big">
                        <a href="#" class="product__link">
                            <p class="product__name">Fujitsu LifeBook E734 13.3" Intel Core i3 4100M E734</p>
                            <div class="product__img-wrap">
                                <img src="/dev_images/product_placeholder.jpg" alt="" class="product__img">
                            </div>
                            <div class="product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет
                                идеальным инструментом для работы в офисе или в пути. Он легкий и компактный,
                                а высокоемкая батарея Li-ion...
                            </div>
                            <div class="product__price">85&nbsp;000 тенге</div>
                            <div class="product__btn-wrap">
                                <button class="product__btn button button--t-green button--s-middle js_to_checkout_btn" type="button">
                                    <span class="button__text button__text--not-order">В КОРЗИНУ</span>
                                    <span class="button__text button__text--in-order">В КОРЗИНЕ</span>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="last-products__item product product--big">
                        <a href="#" class="product__link">
                            <p class="product__name">Fujitsu LifeBook E734 13.3" Intel Core i3 4100M E734</p>
                            <div class="product__img-wrap">
                                <img src="/dev_images/product_placeholder.jpg" alt="" class="product__img">
                            </div>
                            <div class="product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет
                                идеальным инструментом для работы в офисе или в пути. Он легкий и компактный,
                                а высокоемкая батарея Li-ion...
                            </div>
                            <div class="product__price">85&nbsp;000 тенге</div>
                            <div class="product__btn-wrap">
                                <button class="product__btn button button--t-green button--s-middle in-order js_to_checkout_btn" type="button">
                                    <span class="button__text button__text--not-order">В КОРЗИНУ</span>
                                    <span class="button__text button__text--in-order">В КОРЗИНЕ</span>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="last-products__item product product--big">
                        <a href="#" class="product__link">
                            <p class="product__name">Fujitsu LifeBook E734 13.3" Intel Core i3 4100M E734</p>
                            <div class="product__img-wrap">
                                <img src="/dev_images/product_placeholder.jpg" alt="" class="product__img">
                            </div>
                            <div class="product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет
                                идеальным инструментом для работы в офисе или в пути. Он легкий и компактный,
                                а высокоемкая батарея Li-ion...
                            </div>
                            <div class="product__price">85&nbsp;000 тенге</div>
                            <div class="product__btn-wrap">
                                <button class="product__btn button button--t-green button--s-middle js_to_checkout_btn" type="button">
                                    <span class="button__text button__text--not-order">В КОРЗИНУ</span>
                                    <span class="button__text button__text--in-order">В КОРЗИНЕ</span>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="last-products__item product product--big">
                        <a href="#" class="product__link">
                            <p class="product__name">Fujitsu LifeBook E734 13.3" Intel Core i3 4100M E734</p>
                            <div class="product__img-wrap">
                                <img src="/dev_images/product_placeholder.jpg" alt="" class="product__img">
                            </div>
                            <div class="product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет
                                идеальным инструментом для работы в офисе или в пути. Он легкий и компактный,
                                а высокоемкая батарея Li-ion...
                            </div>
                            <div class="product__price">85&nbsp;000 тенге</div>
                            <div class="product__btn-wrap">
                                <button class="product__btn button button--t-green button--s-middle js_to_checkout_btn" type="button">
                                    <span class="button__text button__text--not-order">В КОРЗИНУ</span>
                                    <span class="button__text button__text--in-order">В КОРЗИНЕ</span>
                                </button>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content__assortment assortment">
            <div class="assortment__container">
                <div class="assortment__title-wrap">
                    <p class="assortment__title title-with-borders">ЧТо мы предлагаем</p>
                </div>
                <ul class="assortment__list">
                    <li class="assortment__item">
                        <a href="#" class="assortment__item-link">
                            <div class="assortment__item-img-wrap">
                                <img src="/dev_images/cat_img_tv.png" alt="" class="assortment__item-img">
                            </div>
                            <div class="assortment__item-name">Телевизоры</div>
                        </a>
                        <ul class="assortment__sub-cats">
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">Б/У ТЕЛЕВИЗОРЫ</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">Б/У SMART ТЕЛЕВИЗОРЫ</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">НОВЫЕ ТЕЛЕВИЗОРЫ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="assortment__item">
                        <a href="#" class="assortment__item-link">
                            <div class="assortment__item-img-wrap">
                                <img src="/dev_images/cat_img_phone.png" alt="" class="assortment__item-img">
                            </div>
                            <div class="assortment__item-name">ТЕЛЕФОНЫ, ПЛАНШЕТЫ</div>
                        </a>
                        <ul class="assortment__sub-cats">
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">Планшеты Samsung</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">Планшеты ipad</a>
                            </li>
                        </ul>
                    </li>
                    <li class="assortment__item">
                        <a href="#" class="assortment__item-link">
                            <div class="assortment__item-img-wrap">
                                <img src="/dev_images/cat_img_comp.png" alt="" class="assortment__item-img">
                            </div>
                            <div class="assortment__item-name">Компьютеры</div>
                        </a>
                        <ul class="assortment__sub-cats">
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">компьютеры</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">Моноблоки</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">ноутбуки</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">периферийные устройства</a>
                            </li>
                        </ul>
                    </li>
                    <li class="assortment__item">
                        <a href="#" class="assortment__item-link">
                            <div class="assortment__item-img-wrap">
                                <img src="/dev_images/cat_img_games.png" alt="" class="assortment__item-img">
                            </div>
                            <div class="assortment__item-name">Игровые приставки</div>
                        </a>
                        <ul class="assortment__sub-cats">
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">sony playstation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="assortment__item">
                        <a href="#" class="assortment__item-link">
                            <div class="assortment__item-img-wrap">
                                <img src="/dev_images/cat_img_prist.png" alt="" class="assortment__item-img">
                            </div>
                            <div class="assortment__item-name">приставки</div>
                        </a>
                    </li>
                    <li class="assortment__item">
                        <a href="#" class="assortment__item-link">
                            <div class="assortment__item-img-wrap">
                                <img src="/dev_images/cat_img_cron.png" alt="" class="assortment__item-img">
                            </div>
                            <div class="assortment__item-name">Кронштейны</div>
                        </a>
                        <ul class="assortment__sub-cats">
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">поворотные</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">Прямые</a>
                            </li>
                            <li class="assortment__sub-cat">
                                <a href="#" class="assortment__sub-cat-link">с наклоном</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        {% include "blocks/request.njk" %}

        <div class="content__buying">
            <div class="content__container buying">
                <div class="buying__title-wrap">
                    <h2 class="buying__title title-with-borders">скупка техники</h2>
                </div>
                <p class="buying__text">
                    Если вы решили сдать ноутбук, у которого вас не устраивают технические характеристики, приносите его к нам в магазин на оценку квалифицированным специалистам. Чтобы сдать телевизор, который давно занимает место в квартире, вам не придется возиться с размещением множества объявлений и самостоятельно искать покупателей. Деньги за технику вы получите сразу!
                </p>
                <picture class="buying__img-wrap">
                    <source srcset="/img/devices_mob.jpg" media="(max-width: 500px)">
                    <source srcset="/img/devices.jpg" media="(min-width: 501px)">
                    <img src="/img/devices.jpg" alt="" class="buying__img">
                </picture>
                <div class="buying__btn-wrap">
                    <a href="#" class="buying__btn button button--t-green">подробнее</a>
                </div>
            </div>
        </div>
        <div class="content__seo-text seo-text">
            <div class="seo-text__text-block text-block">
                <h2>Заголовок</h2>
                <p>Идейные соображения высшего порядка, а также выбранный нами инновационный путь выявляет срочную потребность вывода текущих активов. Сложно сказать, почему действия представителей оппозиции представлены в исключительно положительном свете. Являясь всего лишь частью общей картины, действия представителей оппозиции лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы.</p>
                <p>Но действия представителей оппозиции формируют глобальную экономическую сеть и при этом - ассоциативно распределены по отраслям. Вот вам яркий пример современных тенденций - курс на социально-ориентированный национальный проект выявляет срочную потребность новых принципов формирования материально-технической и кадровой базы. Таким образом, семантический разбор внешних противодействий напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. Также как внедрение современных методик создаёт предпосылки для системы обучения кадров, соответствующей насущным потребностям.</p>
            </div>
        </div>
    </main>
{% endblock %}
