{% set title = "Главная" %}
{% set page = "mainpage" %}
{% extends "layouts/main.njk" %}

{% block content %}
    <main class="page__content content">
        <div class="content__title-slider slider swiper-container js_banners_slider">
        </div>
    </main>
{% endblock %}
