{% set title = "Товар" %}
{% set page = "categorypage" %}
{% extends "layouts/main.njk" %}

{% block content %}

    {% include "blocks/breadcrumbs.njk" %}

    <main class="page__content content">
        <div class="content__product-card product-card">
        </div>
    </main>

{% endblock %}
