{% set title = "Товар" %}
{% set page = "categorypage" %}
{% extends "layouts/main.njk" %}

{% block content %}

    <main class="page__content content">
        <div class="content__container" itemscope itemtype="http://schema.org/Product">
            {% include "blocks/breadcrumbs.njk" %}

            <h1 class="content__title title-l1" itemprop="name">PHILIPS 40PFT4100/60</h1>
            <div class="content__product-card product-card">
                <div class="product-card__container">
                    <div class="product-card__gallery">
                        <div class="product-card__slider-wrap">
                            <div class="product-card__slider js_product_slider">
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big1.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big2.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big3.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big4.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big5.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big6.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                                <div class="product-card__slide">
                                    <img src="/dev_images/placeholder_big7.jpg" alt="" class="product-card__slide-img" itemprop="image">
                                </div>
                            </div>
                        </div>
                        <div class="product-card__nav-slider-wrap">
                            <div class="product-card__nav-slider js_product_slider_nav">
                                <div class="product-card__nav-slide js_nav_slide" data-index="0">
                                    <img src="/dev_images/placeholder_small.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                                <div class="product-card__nav-slide js_nav_slide" data-index="1">
                                    <img src="/dev_images/placeholder_small1.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                                <div class="product-card__nav-slide js_nav_slide" data-index="2">
                                    <img src="/dev_images/placeholder_small2.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                                <div class="product-card__nav-slide js_nav_slide" data-index="3">
                                    <img src="/dev_images/placeholder_small3.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                                <div class="product-card__nav-slide js_nav_slide" data-index="4">
                                    <img src="/dev_images/placeholder_small4.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                                <div class="product-card__nav-slide js_nav_slide" data-index="5">
                                    <img src="/dev_images/placeholder_small5.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                                <div class="product-card__nav-slide js_nav_slide" data-index="6">
                                    <img src="/dev_images/placeholder_small6.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                                <div class="product-card__nav-slide js_nav_slide" data-index="7">
                                    <img src="/dev_images/placeholder_small7.jpg" alt="" class="product-card__nav-slide-img">
                                </div>
                            </div>
                            <div class="product-card__nav-btns">
                                <button class="product-card__nav-btn product-card__nav-btn--left js_slider_prev" type="button"></button>
                                <button class="product-card__nav-btn product-card__nav-btn--right js_slider_next" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="product-card__info">
                        <div class="product-card__text text-block" itemprop="description">
                            <h2>Lorem ipsum dolor.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt modi molestiae molestias obcaecati quaerat quidem sapiente ut vel. Accusamus adipisci aliquid amet at autem blanditiis culpa cum debitis delectus deserunt, eligendi, error fuga in incidunt ipsam iste minus molestiae necessitatibus non numquam placeat porro praesentium quae quaerat quidem quo quos ratione rem sit voluptas. Beatae blanditiis consequatur corporis culpa deserunt dignissimos, eaque eius esse id impedit iste iure libero magnam maxime, molestias nam neque nostrum nulla numquam odit perspiciatis placeat possimus quis quo reiciendis repellendus temporibus unde vero voluptate?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores aspernatur distinctio eveniet hic iste magni nesciunt tempora voluptatibus?</p>
                        </div>
                        <div class="product-card__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="url" content=".">
                            <span itemprop="price" content="85900">85&nbsp;900</span> <span itemprop="priceCurrency" content="KZT">тенге</span>
                        </div>
                        <div class="product-card__btn-wrap">
                            <button class="product-card__btn button button--s-middle button--t-green js_to_checkout_btn in-order" type="button">
                                <span class="button__text button__text--not-order">В КОРЗИНУ</span>
                                <span class="button__text button__text--in-order">В КОРЗИНЕ</span>
                            </button>
                        </div>
                    </div>
                </div>
                <table class="product-card__characteristics characteristics">
                    <caption class="characteristics__caption">ОСНОВНЫЕ ХАРАКТЕРИСТИКИ</caption>
                    <tbody class="characteristics__tbody">
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Тип телевизора</td>
                            <td class="characteristics__td">ЖК-телевизор</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Диагональ экрана</td>
                            <td class="characteristics__td">40" (102 см)</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Формат экрана</td>
                            <td class="characteristics__td">16:9</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Разрешение</td>
                            <td class="characteristics__td">1920x1080</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Светодиодная (LED) подсветка</td>
                            <td class="characteristics__td">есть</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% include "blocks/request.njk" %}
    </main>

{% endblock %}
