{% set title = "Товар" %}
{% set page = "categorypage" %}
{% extends "layouts/main.njk" %}

{% block content %}

    <main class="page__content content">
        <div class="content__container">
            {% include "blocks/breadcrumbs.njk" %}

            <h1 class="content__title title-l1">PHILIPS 40PFT4100/60</h1>
            <div class="content__product-card product-card">
                <div class="product-card__container">
                    <div class="product-card__gallery">
                        <div class="product-card__slider-wrap">
                            <div class="product-card__slider"></div>
                        </div>
                        <div class="product-card__nav-slider-wrap">
                            <div class="product-card__nav-slider"></div>
                            <div class="product-card__btns">
                                <button class="product-card__btn product-card__btn--left" type="button"></button>
                                <button class="product-card__btn product-card__btn--right" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="product-card__info">
                        <div class="product-card__text text-block">
                            <h2>Lorem ipsum dolor.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt modi molestiae molestias obcaecati quaerat quidem sapiente ut vel. Accusamus adipisci aliquid amet at autem blanditiis culpa cum debitis delectus deserunt, eligendi, error fuga in incidunt ipsam iste minus molestiae necessitatibus non numquam placeat porro praesentium quae quaerat quidem quo quos ratione rem sit voluptas. Beatae blanditiis consequatur corporis culpa deserunt dignissimos, eaque eius esse id impedit iste iure libero magnam maxime, molestias nam neque nostrum nulla numquam odit perspiciatis placeat possimus quis quo reiciendis repellendus temporibus unde vero voluptate?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores aspernatur distinctio eveniet hic iste magni nesciunt tempora voluptatibus?</p>
                        </div>
                        <div class="product-card__price">85&nbsp;900 тенге</div>
                        <div class="product-card__btn-wrap">
                            <button class="product-card__btn button button--t-green">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <table class="product-card__characteristics characteristics">
                    <caption class="characteristics__caption">ОСНОВНЫЕ ХАРАКТЕРИСТИКИ</caption>
                    <tbody class="characteristics__tbody">
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Тип телевизора</td>
                            <td class="characteristics__td">ЖК-телевизор</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Диагональ экрана</td>
                            <td class="characteristics__td">40" (102 см)</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Формат экрана</td>
                            <td class="characteristics__td">16:9</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Разрешение</td>
                            <td class="characteristics__td">1920x1080</td>
                        </tr>
                        <tr class="characteristics__tr">
                            <td class="characteristics__td">Светодиодная (LED) подсветка</td>
                            <td class="characteristics__td">есть</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

{% endblock %}
