{% set title = "Поиск" %}
{% set page = "searchpage" %}
{% extends "layouts/main.njk" %}

{% block content %}

    <main class="page__content content">
        <div class="content__container">
            {% include "blocks/breadcrumbs.njk" %}

            <h1 class="content__title title-l1">ПОИСК</h1>
            <div class="content__search search">
                <form class="search__input-wrap">
                    <input type="search" name="" class="search__input" placeholder="Введите название товара">
                </form>
                <p class="search__result-info">По вашему запросу найдено 7 товаров</p>
                <ul class="search__list grid grid--4-cols">
                    {% for i in range(1, 10) %}
                    <li class="grid__item product">
                        <a href="#" class="product__link">
                            <p class="product__name">PHILIPS 40PFT4100/60</p>
                            <div class="product__img-wrap">
                                <img src="/dev_images/product_placeholder.jpg" alt="" class="product__img">
                            </div>
                            <div class="product__descr">Ноутбук Fujitsu LifeBook E734 13.3" Intel Core i5 4310M станет
                                идеальным инструментом для работы в офисе или в пути. Он легкий и компактный,
                                а высокоемкая батарея Li-ion...
                            </div>
                            <div class="product__price">85&nbsp;900 тенге</div>
                            <div class="product__btn-wrap">
                                <button class="product__btn button button--t-green" type="button">В КОРЗИНУ</button>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="search__pagination pagination">
                    <span class="pagination__link pagination__link--left-arrow"></span>
                    <a href="#" class="pagination__link">1</a>
                    <a href="#" class="pagination__link">2</a>
                    <a href="#" class="pagination__link">3</a>
                    <a href="#" class="pagination__link">4</a>
                    <a href="#" class="pagination__link">...</a>
                    <a href="#" class="pagination__link">12</a>
                    <a href="#" class="pagination__link pagination__link--right-arrow"></a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
