{% set title = "Поиск" %}
{% set page = "searchpage" %}
{% extends "layouts/main.njk" %}

{% block content %}

    <main class="page__content content">
        <div class="content__container">
            {% include "blocks/breadcrumbs.njk" %}

            <h1 class="content__title title-l1">ПОИСК</h1>
            <div class="content__search search">
                <form class="search__fields-wrap" method="get" action="/">
                    <div class="search__field field">
                        <label class="field__container">
                            <input type="text" class="field__input" name="s" placeholder="Поиск по каталогу" inputmode="search">
                        </label>
                    </div>
                    <div class="search__btn-wrap">
                        <button class="search__btn button button--t-green">поиск</button>
                    </div>
                </form>
                <p class="search__result-info">По вашему запросу ничего не найдено</p>
            </div>
        </div>
        {% include "blocks/request.njk" %}
    </main>

{% endblock %}
