<div class="content__breadcrumbs breadcrumbs">
    <ul class="breadcrumbs__list" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#" class="breadcrumbs__link link" itemprop="item"><span class="breadcrumbs__item-text" itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumbs__separator">|</li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#" class="breadcrumbs__link link" itemprop="item"><span class="breadcrumbs__item-text" itemprop="name">телевизоры</span></a>
            <meta itemprop="position" content="2" />
        </li>
        <li class="breadcrumbs__separator">|</li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#" class="breadcrumbs__link link" itemprop="item"><span class="breadcrumbs__item-text" itemprop="name">б/у телевизоры</span></a>
            <meta itemprop="position" content="3" />
        </li>
        <li class="breadcrumbs__separator">|</li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span class="breadcrumbs__current"><span class="breadcrumbs__item-text" itemprop="name">Товар</span></span>
            <meta itemprop="position" content="4" />
        </li>
    </ul>
</div>