<footer class="page__footer footer" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Stechno. Интернет-магазин цифрового оборудования и компьютерной техники">
    <meta itemprop="logo" content="/img/logo.png">
    <div class="footer__container">
        <div class="footer__left-col">
            <a href="/" class="footer__logo-wrap" itemprop="url" aria-label="Перейти на главную страницу">
                <img src="/img/logo_white.png" loading="lazy" alt="" class="footer__logo">
            </a>
            <ul class="footer__locations-list">
                <li class="footer__locations-item" itemprop="address">г. Нур-Султан, ул. Кенесары 52</li>
                <li class="footer__locations-item" itemprop="address">г. Алматы, ул. Богенбай батыра 79</li>
                <li class="footer__locations-item" itemprop="address">г. Шымкент, ул. Аскарова 24</li>
                <li class="footer__locations-item" itemprop="address">г. Караганда, ул. Гоголя 52</li>
            </ul>
        </div>
        <div class="footer__menu-wrap">
            <div class="footer__menu-col">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Главная</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Доставка</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Статьи</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Гарантии</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">FAQ</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Скупка/обмен</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-col">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__phone-link white-link" itemprop="telephone">+7 775 007 00 19</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Контакты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Возврат товара</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link white-link">Карта сайта</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__made-col">
            <div class="footer__made-with-love">
                <p class="footer__made-with-love-text">Сайт разработан в</p>
                <a href="https://goodviz.kz" target="_blank" rel="noreferrer nofollow" class="footer__made-link">
                    <img src="/img/goodviz-logo.png" loading="lazy" alt="GoodViz Студия дизайна в Алматы" class="footer__made-logo">
                </a>
            </div>
            <small class="footer__copyright">© Все права защищены</small>
        </div>
    </div>
</footer>
