<footer class="page__footer footer">
    <div class="footer__top">
        <div class="footer__top-container">
            <div class="footer__left-col">
                <a href="/" class="footer__go-home" aria-label="Перейти на главную страницу">
                    <img src="/img/logo_white.svg" alt="" class="footer__logo">
                </a>
                <ul class="footer__big-menu-list">
                    <li class="footer__big-menu-item">
                        <a href="#" class="footer__big-link white-link js_open_popup" data-popup-name="login">ВХОД/РЕГИСТРАЦИЯ</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-wrap">
                <div class="footer__menu-col">
                    <p class="footer__menu-title">ПОМОЩЬ</p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link white-link">Доставка</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link white-link">Оплата</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link white-link">Обмен и возврат</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu-col">
                    <p class="footer__menu-title">УСЛУГИ</p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link white-link">Экипировка команд</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link white-link">Нанесение/печать на форме</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link white-link">Шоурум в Алматы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__feedback-col">
                <ul class="footer__phones-list">
                    <li class="footer__phones-item">
                        <a href="#" class="footer__phone-link white-link">+7 (776) 205 85 73</a>
                    </li>
                    <li class="footer__phones-item">
                        <a href="#" class="footer__phone-link white-link">+7 (776) 205 85 73</a>
                    </li>
                </ul>
                <ul class="footer__socials-list">
                    <li class="footer__socials-item">
                        <a href="#" class="footer__socials-link footer__socials-link--fb">Facebook</a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="#" class="footer__socials-link footer__socials-link--inst">Instagram</a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="#" class="footer__socials-link footer__socials-link--vk">ВКонтакте</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-container">
            <small class="footer__copyright">© Все права защищены</small>
            <div class="footer__made-with-love">
                Сайт разработан в
                <a href="https://goodviz.kz" target="_blank" rel="noreferrer nofollow" class="footer__made-link">
                    <img src="/img/goodviz-logo.png" alt="GoodViz Студия дизайна в Алматы" class="footer__made-logo">
                </a>
            </div>
        </div>
    </div>
</footer>
