<header class="page__header header">
    <div class="header__top">
        <div class="header__top-container">
            <div class="header__menu-wrap">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link link">Главная</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link link">О нас</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link link">Статьи</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link link">Скупка/обмен</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link link">Контакты</a>
                    </li>
                </ul>
                <div class="header__phone-wrap">
                    <a href="#" class="header__phone link">+7 775 007 00 19</a>
                </div>
                <div class="header__right-block">
                    <div class="header__basket-link-wrap">
                        <a href="#" class="header__basket-link link">Корзина</a>
                    </div>
                    <div class="header__city-wrap">
                        <div class="header__city select js_select" aria-label="Город">
                            <input type="hidden" class="js_select_input" name="city" value="Almaty" autocomplete="off">
                            <div class="select__header js_select_btn">
                                <div class="select__current js_current_value">Алматы</div>
                                <div class="select__arrow"></div>
                            </div>
                            <ul class="select__list" role="listbox" aria-expanded="false">
                                <li class="select__list-item js_select_option" role="option" data-value="Almaty" data-text="Алматы">Алматы</li>
                                <li class="select__list-item js_select_option" role="option" data-value="Nur-Sultan" data-text="Нур-Султан">Нур-Султан</li>
                                <li class="select__list-item js_select_option" role="option" data-value="Shymkent" data-text="Шымкент">Шымкент</li>
                                <li class="select__list-item js_select_option" role="option" data-value="Karaganda" data-text="Караганда">Караганда</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <form class="header__search-wrap js_search_block" action="/" method="GET" novalidate autocomplete="off">
                <button class="header__search-open-btn js_search_open_btn" type="button"></button>
                <button class="header__search-btn" title="Найти"></button>
                <input type="search" class="header__search js_search_input" name="s" placeholder="Поиск по каталогу" aria-label="Поисковый запрос">
            </form>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom-container">
            <a href="/" class="header__logo-wrap" aria-label="Перейти на главную страницу">
                <img src="/img/logo.png" alt="" class="header__logo">
            </a>
            <div class="header__categories">
                <ul class="header__categories-list">
                    <li class="header__categories-item">
                        <a href="#" class="header__category-link link">Телевизоры</a>
                        <div class="header__subcategories-container">
                            <ul class="header__subcategories">
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у телевизоры</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у SMART телевизоры</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">все телевизоры</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">новые телевизоры</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__categories-item">
                        <a href="#" class="header__category-link link">Телефоны, планшеты</a>
                        <div class="header__subcategories-container">
                            <ul class="header__subcategories">
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у телевизоры1</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у SMART телевизоры1</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">все телевизоры1</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">новые телевизоры1</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у телевизоры1</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у SMART телевизоры1</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">все телевизоры1</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">новые телевизоры1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__categories-item">
                        <a href="#" class="header__category-link link">Компьютеры</a>
                        <div class="header__subcategories-container">
                            <ul class="header__subcategories">
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у телевизоры2</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у SMART телевизоры2</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">все телевизоры2</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">новые телевизоры2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__categories-item">
                        <a href="#" class="header__category-link link">Игровые приставки</a>
                        <div class="header__subcategories-container">
                            <ul class="header__subcategories">
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у телевизоры3</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у SMART телевизоры3</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">все телевизоры3</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">новые телевизоры3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__categories-item">
                        <a href="#" class="header__category-link link">Приставки</a>
                        <div class="header__subcategories-container">
                            <ul class="header__subcategories">
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у телевизоры4</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у SMART телевизоры4</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">все телевизоры4</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">новые телевизоры4</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__categories-item">
                        <a href="#" class="header__category-link link">Кронштейны</a>
                        <div class="header__subcategories-container">
                            <ul class="header__subcategories">
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у телевизоры5</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">Б/у SMART телевизоры5</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">все телевизоры5</a>
                                </li>
                                <li class="header__subcategories-item">
                                    <a href="#" class="header__subcategory-link link">новые телевизоры5</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
