<header class="page__mobile-header mob-header js_header">
    <div class="mob-header__bg js_menu_bg"></div>
    <div class="mob-header__container">
        <button class="mob-header__hamburger hamburger js_menu_toggle">
            <span class="hamburger__box">
                <span class="hamburger__line hamburger__line--top"></span>
                <span class="hamburger__line hamburger__line--middle"></span>
                <span class="hamburger__line hamburger__line--bottom"></span>
            </span>
        </button>
        <a href="/" class="mob-header__logo-wrap" aria-label="Перейти на главную страницу">
            <img src="/img/logo.png" alt="" class="mob-header__logo">
        </a>
        <div class="mob-header__basket-wrap">
            <a href="/checkout.html" class="mob-header__basket">Корзина</a>
        </div>
        <nav class="mob-header__menu mob-menu">
            <div class="mob-menu__city-wrap">
                <div class="mob-menu__city select select--left-align js_select" aria-label="Город">
                    <input type="hidden" class="js_select_input" name="city" value="Almaty" autocomplete="off">
                    <div class="select__header js_select_btn">
                        <div class="select__current js_current_value">Алматы</div>
                        <div class="select__arrow"></div>
                    </div>
                    <ul class="select__list" role="listbox" aria-expanded="false">
                        <li class="select__list-item js_select_option" role="option" data-value="Almaty" data-text="Алматы">Алматы</li>
                        <li class="select__list-item js_select_option" role="option" data-value="Nur-Sultan" data-text="Нур-Султан">Нур-Султан</li>
                        <li class="select__list-item js_select_option" role="option" data-value="Shymkent" data-text="Шымкент">Шымкент</li>
                        <li class="select__list-item js_select_option" role="option" data-value="Karaganda" data-text="Караганда">Караганда</li>
                    </ul>
                </div>
            </div>
            <form class="mob-menu__search-wrap" action="/" method="GET" autocomplete="off">
                <input type="text" class="mob-menu__search" name="s" placeholder="Поиск по каталогу" aria-label="Поисковый запрос" required>
                <button class="mob-menu__search-btn" title="Найти">Найти</button>
            </form>
            <div class="mob-menu__nav-list-wrap js_menu_wrap">
                <ul class="mob-menu__nav-list js_nav_list js_nav_list_main">
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn js_nav_btn">Дети</button>
                        <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Дети</button>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Все товары</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn js_nav_btn">Игровая</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Игровая</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Все товары</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Гетры</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn js_nav_btn">Компрессионное белье</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Компресионное белье</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Все товары</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn js_nav_btn">ОБУВЬ</button>
                    </li>
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn js_nav_btn">Одежда</button>
                        <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">ОДЕЖДА</button>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Все товары</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn js_nav_btn">Игровая2</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Игровая2</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Все товары</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Гетры2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn js_nav_btn">Компрессионное белье2</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Компресионное белье2</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Все товары</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Футболки2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn js_nav_btn">Аксессуары</button>
                    </li>
                </ul>
            </div>
            <div class="mob-menu__phone-wrap">
                <a href="#" class="mob-menu__phone">+7 775 007 00 19</a>
            </div>
            <div class="mob-menu__links-list">
                <a href="#" class="mob-menu__link">Главная</a>
                <a href="#" class="mob-menu__link">О нас</a>
                <a href="#" class="mob-menu__link">Статьи</a>
                <a href="#" class="mob-menu__link">Скупка/обмен</a>
                <a href="#" class="mob-menu__link">Контакты</a>
            </div>
        </nav>
    </div>
</header>
