<header class="page__mobile-header mob-header js_header">
    <div class="mob-header__bg js_menu_bg"></div>
    <div class="mob-header__container">
        <div class="mob-header__left-wrap">
            <button class="mob-header__hamburger hamburger js_menu_toggle">
                <span class="hamburger__box">
                    <span class="hamburger__line hamburger__line--top"></span>
                    <span class="hamburger__line hamburger__line--middle"></span>
                    <span class="hamburger__line hamburger__line--bottom"></span>
                </span>
            </button>
            <a href="/" class="mob-header__logo-wrap" aria-label="Перейти на главную страницу">
                <img src="/img/logo_black.svg" alt="" class="mob-header__logo">
            </a>
        </div>
        <div class="mob-header__right-wrap">
            <div class="mob-header__icon-link-wrap">
                <a href="/checkout.html" class="mob-header__basket" data-count="2">Корзина</a>
            </div>
            <div class="mob-header__search"></div>
        </div>
        <nav class="mob-header__menu mob-menu">
            <div class="mob-menu__nav-list-wrap js_menu_wrap">
                <ul class="mob-menu__nav-list js_nav_list js_nav_list_main">
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn mob-menu__nav-btn--big js_nav_btn">Дети</button>
                        <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Дети</button>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--big mob-menu__nav-btn--link">Новинки каталога</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--big mob-menu__nav-btn--link">Лидер продаж</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--sale mob-menu__nav-btn--link">SALE%</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn mob-menu__nav-btn--big js_nav_btn">Игровая</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Игровая</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Футболки</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Гетры</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn mob-menu__nav-btn--big js_nav_btn">Компрессионное белье</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Компресионное белье</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Футболки</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn mob-menu__nav-btn--big js_nav_btn">ОБУВЬ</button>
                    </li>
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn mob-menu__nav-btn--big js_nav_btn">Одежда</button>
                        <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">ОДЕЖДА</button>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--big mob-menu__nav-btn--link">Новинки каталога2</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--big mob-menu__nav-btn--link">Лидер продаж2</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--sale mob-menu__nav-btn--link">SALE%2</a>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn js_nav_btn">Игровая2</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Игровая2</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Футболки2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Гетры2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mob-menu__nav-item">
                                <button class="mob-menu__nav-btn js_nav_btn">Компрессионное белье2</button>
                                <ul class="mob-menu__nav-list mob-menu__nav-list--nested js_nav_list">
                                    <li class="mob-menu__nav-item">
                                        <button class="mob-menu__nav-btn mob-menu__nav-btn--back js_nav_back_btn">Компресионное белье2</button>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Футболки2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Футболки2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Шорты2</a>
                                    </li>
                                    <li class="mob-menu__nav-item">
                                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--link">Лосины2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="mob-menu__nav-item">
                        <button class="mob-menu__nav-btn mob-menu__nav-btn--big js_nav_btn">Аксессуары</button>
                    </li>
                    <li class="mob-menu__nav-item">
                        <a href="#" class="mob-menu__nav-btn mob-menu__nav-btn--sale mob-menu__nav-btn--link">SALE%</a>
                    </li>
                </ul>
            </div>
            <div class="mob-menu__login-wrap">
                <a href="#" class="mob-menu__link mob-menu__link--pa js_open_popup" data-popup-name="login">Вход/Регистрация</a>
            </div>
            <div class="mob-menu__links-wrap">
                <div class="mob-menu__icon-link-wrap">
                    <a href="/favourites.html" class="mob-menu__favorites">Избранное</a>
                </div>
                <div class="mob-menu__lang-link-wrap">
                    <a href="#" class="mob-menu__language-link is-active">RU</a>
                </div>
                <div class="mob-menu__lang-link-wrap">
                    <a href="#" class="mob-menu__language-link">KZ</a>
                </div>
            </div>
            <div class="mob-menu__phones">
                <div class="mob-menu__phone-wrap">
                    <a href="#" class="mob-menu__phone">8 (727) 250 85 73</a>
                </div>
                <div class="mob-menu__phone-wrap">
                    <a href="#" class="mob-menu__phone">8 (776) 250 85 73</a>
                </div>
            </div>
            <div class="mob-menu__bottom">
                <a href="#" class="mob-menu__link mob-menu__link--brush">Услуги по нанесению</a>
            </div>
        </nav>
    </div>
</header>
