<div class="notification js_notification">
    <div class="notification__container">
        <div class="notification__box">
            <div class="notification__title">Благодарим за заявку!</div>
            <div class="notification__subtitle">Наш менеджер свяжется с&nbsp;вами в&nbsp;ближайшее рабочее&nbsp;время.</div>
        </div>
    </div>
</div>