<div class="content__request request">
    <div class="request__container">
        <p class="request__title">Оставьте заявку и наш менеджер свяжется&nbsp;с&nbsp;вами</p>
        <form action="" class="request__form request-form">
            <div class="request-form__field field">
                <label class="field__container">
                    <input type="text" class="field__input" name="product-name" placeholder="Наименование товара*" autocomplete="off">
                </label>
            </div>
            <div class="request-form__field field">
                <label class="field__container">
                    <input type="text" class="field__input" name="user-name" placeholder="Имя*" autocomplete="name">
                </label>
            </div>
            <div class="request-form__field field">
                <label class="field__container">
                    <input type="tel" class="field__input" name="user-phone" placeholder="Телефон*" autocomplete="tel" inputmode="tel">
                </label>
            </div>
            <div class="request-form__field request-form__field--btn">
                <button class="request-form__btn button button--t-red">оставить заявку</button>
            </div>
        </form>
    </div>
</div>