.content{
  &__title-slider{
    margin: 32px auto 0;
    max-width: @full-width;
  }

  &__catalog-news{
    margin: 32px auto 0;
    max-width: @max-width-wth-indent;
    padding: 0 @hor-indent;
  }
}
