@media all and (max-width: @screen-width-b){
  .grid{
  }
}


@media all and (max-width: @screen-width-m){
  .grid{
    &--4-cols{
      .grid{
        &__item{
          width: calc((100% - 75px) / 3);
        }
      }
    }

    &__item{
      &--hide-on-middle{
        display: none;
      }
    }
  }
}


@media all and (max-width: 740px){
  .grid{
    &--4-cols{
      .grid{
        &__item{
          width: calc((100% - 50px) / 2);
        }
      }
    }

    &__item{
      width: calc((100% - 50px) / 2);

      &--hide-on-small{
        display: none;
      }
    }
  }
}


@media all and (max-width: @screen-width-s){
  .grid{
  }
}


@media all and (max-width: 400px){
  .grid{
    &--4-cols{
      .grid{
        &__item{
          width: 100%;
        }
      }
    }

    &__item{
      width: 100%;
    }
  }
}
