.select{
  position: relative;
  user-select: none;

  &--without-borders{
    display: inline;

    .select{
      &__header{
        display: inline;
        height: auto;
        padding-left: 0;
        line-height: 1;
        border: none;
        box-shadow: none !important;
      }

      &__current{
        display: inline;
      }

      &__arrow{
        right: 0;
      }

      &__list{
        left: auto;
        right: 15px;
        width: auto;
        border: none;
      }

      &__list-item{
        padding: 5px 15px;
        cursor: pointer;
        transition: .1s;

        &:hover{
          background-color: transparent;
          color: @c-minor;
        }

        &.is-active{
          background-color: transparent;
          color: @c-minor;
        }
      }
    }
  }

  &__header{
    height: @input-height;
    padding: 0 20px 0 15px;
    line-height: @input-height - 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid @c-minor;
    color: @c-main;
    cursor: pointer;
    transition: .1s;

    .is-open &, &:hover, &:focus{
      box-shadow: 0 0 0 1px @c-main;
      border-color: @c-main;
    }
  }

  &__current{
    //font-weight: @fw-medium;
  }

  &__arrow{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-2px);
    border: 4.5px solid transparent;
    border-top-color: @c-main;
  }

  &__list{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    padding: 5px 0;
    max-height: 220px;
    overflow: auto;
    border: 1px solid @c-minor;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility 0s .2s;
  }

  &__list-item{
    padding: 5px 15px;
    cursor: pointer;
    transition: .1s;

    &:hover{
      background-color: #dddddd;
    }

    &.is-active{
      background-color: #aaaaaa;
    }
  }

  &.has-error .select{
    &__header{
      border-color: #ff0000;
      animation: field-shake 0.8s;

      &:hover, &:focus{
        box-shadow: 0 0 0 1px #ff0000;
      }
    }
  }

  &.is-open{
    .select{
      &__arrow{
        transform: translateY(-6px) rotate(180deg);
      }

      &__list{
        visibility: visible;
        opacity: 1;
        transition: opacity .2s, visibility 0s;
      }
    }
  }
}
