.select{
  position: relative;
  display: inline;
  user-select: none;

  &--left-align{
    .select{
      &__list{
        right: auto;
        left: 0;
        text-align: left;
      }
    }
  }

  &__header{
    display: inline;
    height: auto;
    padding-right: 21px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: @c-main;
    cursor: pointer;
    transition: .1s;

    .is-open &, &:hover, &:focus{
      border-color: @c-main;
    }
  }

  &__current{
    display: inline;
  }

  &__arrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-2px);
    border: 4.5px solid transparent;
    border-top-color: @c-main;
  }

  &__list{
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1;
    width: auto;
    padding: 5px 0;
    max-height: 220px;
    overflow: auto;
    border: 1px solid @c-minor;
    background-color: #ffffff;
    text-align: right;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility 0s .2s;
  }

  &__list-item{
    padding: 5px 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: .1s;

    &:hover{
      background-color: #dddddd;
    }

    &.is-active{
      background-color: #aaaaaa;
    }
  }

  &.has-error .select{
    &__header{
      border-color: #ff0000;
      animation: field-shake 0.8s;

      &:hover, &:focus{
        box-shadow: 0 0 0 1px #ff0000;
      }
    }
  }

  &.is-open{
    .select{
      &__arrow{
        transform: translateY(-6px) rotate(180deg);
      }

      &__list{
        visibility: visible;
        opacity: 1;
        transition: opacity .2s, visibility 0s;
      }
    }
  }
}
